body{
	margin:0px;
	padding:0px;
}

header{
	background-color:black;
	padding-top:20px;
	height:24%;
}

#head1{
	
width:30%;
height:50%;
background-color:;
padding-top:10px;
margin-left:10px;
padding-left:10px;
}

#head1 img{
	width:30%;
	height:50%;
}
#head1 span{
	font-size:20px;
	color:white;
	font-weight:bold;
}

#head2{
	
width:40%;

background-color:#f5f5f5;
position:absolute;
left:35%;
top:5%;
height:4%;
text-align:center;
padding-top:5px;
}

#head3{
	
width:20%;
height:4%;
background-color:grey;
position:absolute;
left:70%;
top:5%;
text-align:center;
padding-top:5px;
color:white;

}

#head4{
	
width:20%;
height:5%;
background-color:grey;
position:absolute;
left:50%;
top:9.7%;
text-align:center;
padding-top:5px;
color:white;
}

#head5{
	
width:20%;
height:4%;
background-color:grey;
position:absolute;
left:70%;
top:15%;
text-align:center;
padding-top:5px;
color:white;
}
#head6{
	
width:50%;
height:4%;
background-color:#f5f5f5;
position:absolute;
left:20%;
top:15%;
text-align:center;
padding-top:5px;

}

#head2:hover{
	background-color:purple;
}
#head3:hover{
	background-color:purple;
}
#head4:hover{
	background-color:purple;
}
#head5:hover{
	background-color:purple;
}
#head6:hover{
	background-color:purple;
}

nav{
	padding-left:0px;
	margin:0px;
	width:100%;
}

#maker{
	
	background-color:purple;
	height:20%;
	
}


#bone{
	margin-left:10%;
	width:25%;
	height:100%;
	border-radius:0px;
	margin-left:0px;
	background-color:purple;
	color:white;
}

#btwo{
	margin-left:10%;
	width:25%;
	height:5%;
	position:absolute;
	left:25%;
	top:21.6%;
	border-radius:0px;
	margin-left:0px;
	background-color:purple;
	color:white;
}
#bthree{
	margin-left:10%;
	width:25%;
	height:5%;
	position:absolute;
	left:50%;
	top:21.6%;
	border-radius:0px;
	margin-left:0px;
	background-color:purple;
	color:white;
}
#bfour{
	margin-left:10%;
	width:25%;
	height:5%;
	position:absolute;
	left:75%;
	top:21.6%;
	border-radius:0px;
	margin-left:0px;
	border-left-color:;
	background-color:purple;
	color:white;
}


#bone:hover{
	background-color:#9730db;
	border-color:;
}
#btwo:hover{
	background-color:#9730db;
}

#bthree:hover{
	background-color:#9730db;
}

#bfour:hover{
	background-color:#9730db;
	color:white;
}

#bin{
	position:;
}

#bin button{
	background-color:red;
}

#about{
	background-color:white;
	margin-top:10px;
	height:40%;
	
}
#about img{
	margin-left:5%;
	height:30%;
	width:10%;
	margin-top:30px;
}

#name{
	position:absolute;
	left:15%;
	width:20%;
	top:30%;
	margin-top:20px;
	font-size:15px;
	font-weight:bold;
	color:purple;
}

#expert{
	position:relative;
	left:15%;
	width:20%;
	top:%;
	margin-top:-45px;
	font-size:15px;
	font-weight:bold;
	color:purple;
}
#companystar{
	position:relative;
	left:15%;
	width:20%;
	top:%;
	margin-top:4px;
	font-size:15px;
	font-weight:bold;
	color:purple;
}

#myproject{
	position:absolute;
	left:40%;
	width:40%;
	top:30%;
	margin-top:20px;
	background-color:purple;
	color:white;
	height:20%;
	border-radius:5px;
	text-align:center;
	padding-top:10px;
	font-size:20px;
	border-color:purple;
}

#salute{
	position:absolute;
	left:82%;
	width:10%;
	height:20%;
	top:26%;
	margin-top:20px;
	background-color:;
}

#salute img{
	width:40%;
	height:20%;
}
#salute span{
	font-size:15px;
	font-weight:bold;
}

#learn{
	background-color:white;
	padding-top:20px;
	padding-bottom:10px;
}

#hto{
	background-color:black;
	color:white;
	margin-top:10px;
	height:5%;
	pADDING:10px;
	text-align:center;
	font-size:20px;
	width:90%;
}
 #needt{
	 background-color:purple;
	 color:white;
	 width:30%;
	 height:5%;
	 margin-top:10px;
	 margin-left:20px;
	 padding:5px;
	 text-align:center;
 }
#ssd{
	background-color:#f5f5f5;
	width:90%;
	padding:5px;
	margin-top:10px;
}

#de{
	background-color:#9730db;
	width:10%;
	HEIGHT:1%;
}
#ssd ul li{
	text-decoration:none;
	list-style:none;
	padding:5px;
	text-align:left;
	font-size:15px;
}


#structure{
	background-color:#f5f5f5;
	margin-top:20px;
	width:90%;
	height:40%;
}
#exp{
	background-color:;
	color:black;
	width:20%;
	position:absolute;
	left:10%;
	height:20%;
	font-size:20px;
	padding-top:40px;
	margin-top:10px;
}
#sfirst{
	background-color:black;
	color:white;
	height:10%;
	padding:5px;
	font-size:30px;
	
	
}

#ssec{
	
	background-color:purple;
	color:white;
	width:25%;
	text-align:left;
	position:absolute;
	left:32%;
	height:30%;
	margin-top:10px;
}
#ssec li{
	list-style:circle;
	font-size:20px;
	
}

#sthird{
	text-align:right;
	width:30%;
	position:absolute;
	left:60%;
	height:43%;
	margin-top:10px;
}

#sthird img{
	width:100%;
	height:70%;
}


#div{
	background-color:#f5f5f5;
	margin-top:20px;
	width:90%;
	height:40%;}

#dfirst{
	background-color:black;
	color:white;
	height:10%;
	padding:5px;
	font-size:30px;
}
#dsec{
	background-color:purple;
	width:40%;
	text-align:center;
	position:absolute;
	left:7%;
	height:26.5%;
	margin-top:10px;
	padding-top:10px;
	color:white;
	font-size:20px;
}
#dthird{
	background-color:purple;
	text-align:right;
	width:40%;
	position:absolute;
	left:50%;
	height:26%;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	
}
#dthird span{
	
font-size:20px;

}
#dthird img{
	width:50%;
	height:50%;
}

#list{
	background-color:#f5f5f5;
	margin-top:20px;
	width:90%;
	height:40%;}

#lfirst{
	background-color:black;
	height:10%;
	padding:5px;
	font-size:30px;
	color:white;
}
#lsec{
	background-color:purple;
	color:white;
	width:40%;
	text-align:center;
	position:absolute;
	left:7%;
	height:26.5%;
	margin-top:10px;
	font-size:20px;
}
#lthird{
	background-color:purple;
	color:white;
	text-align:left;
	width:40%;
	position:absolute;
	left:50%;
	height:25%;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
	font-size:20px;
	
}

#form{
	background-color:purple;
	margin-top:20px;
	width:90%;
	height:40%;}

#ffirst{
	background-color:black;
	height:10%;
	padding:5px;
	font-size:30px;
	color:white;
}
#fsec{
	background-color:#f5f5f5;
	width:70%;
	text-align:center;
	position:absolute;
	left:15%;
	height:26.5%;
	margin-top:10px;
	font-size:20px;
}


#fthird{
	background-color:red;
	text-align:right;
	width:40%;
	position:absolute;
	left:50%;
	height:25%;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
	font-size:20px;
	
}


#table{
	background-color:white;
	margin-top:20px;
	width:90%;
	height:40%;}

#tfirst{
	background-color:black;
	height:10%;
	padding:5px;
	font-size:30px;
	color:white;
}

#tsec{
	background-color:red;
	width:80%;
	text-align:center;
	position:absolute;
	left:10%;
	height:26.5%;
	margin-top:10px;
	font-size:20px;
}

#tsec table{
	width:100%;
	height:100%;
	border-collapse:collapse;
}

}
#tthird{
	background-color:red;
	text-align:right;
	width:40%;
	position:absolute;
	left:50%;
	height:25%;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
font-size:20px;}
#css{
	background-color:#f5f5f5;
	margin-top:20px;
	width:90%;
	height:40%;}

#cstr{
	background-color:black;
	height:10%;
	padding:5px;
	font-size:30px;
	color:white;
}

#dcss{
	background-color:purple;
	color:white;
	width:40%;
	text-align:center;
	position:absolute;
	left:7%;
	height:26.5%;
	margin-top:10px;
	font-size:20px;
}

#rect{
	background-color;
}

#scss{
	background-color:purple;
	color:white;
	text-align:right;
	width:40%;
	position:absolute;
	left:50%;
	height:25%;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
	font-size:20px;}

#js{
	background-color:#f5f5f5;
	margin-top:20px;
	width:90%;
	height:40%;}

#jstr{
	background-color:black;
	color:white;
	height:10%;
	padding:5px;
	font-size:30px;
}

#jcss{
	background-color:purple;
	color:white;
	width:80%;
	text-align:center;
	position:absolute;
	left:10%;
	height:26.5%;
	margin-top:10px;
	font-size:20px;
	padding-top:20px;
}

#together{
	margin-top:20px;
	background-color:purple;
	color:white;
	text-align:center;
	width:100%;
	height:5%;
	padding-top:10px;
	margin-bottom:20%;
}

#heder{
	width:100%;
	height:5%;
	padding-top:20px;
	background-color:black;
	color:white;
}


#logo{
margin-left:5%;
width:4%;
height:50%;
background-color:white;
}

#logo img{
	width:100%;
	height:100%;
}

#image{

width:20%;
height:50%;
background-color:;
position:relative;
left:40%;
top:-50%;
color:purple;
font-weight:bold;
}

#image span{
	width:100%;
	height:100%;

}

#moto{
	
	width:4%;
height:50%;
background-color:white;
position:relative;
left:75%;
top:-100%;
}



#moto img{
	width:100%;
	height:100%;
}

#sect{
	width:100%;
	height:40%;
	background-color:purple;
	padding-top:10%;
	background-image:url('tech2.jpg');
}

#some{
	width:100%;
	height:40%;
	background-color:;
	margin-top:;
}


#footy{
	
	height:10%;
	width:%;
	background-color:black;
	color:white;
	text-align:center;
	padding:20px;
}
#c1{
	background-color:#f5f5f5;
	width:30%;
	margin-left:3%;
	margin-top:10%;
	height:70%;
	padding:20px;
	border-radius:5px;
	text-align:center;
}

#c1 span{
	text-align:center;
padding:20px;
margin-top:20px;
font-size:20px;
}

#c2{
	background-color:#f5f5f5;
	width:30%;
	margin-top:10%;
	height:70%;
	padding:20px;
	border-radius:5px;
	text-align:center;
	float:center;
	margin-top:-230px;
	margin-left:50%;
}

#c2 span{
	text-align:center;
padding:20px;
margin-top:20px;
font-size:20px;

}

#c2 input{
	width:100%;
}


#earn{
	background-color:;
	margin-left:50%;
	width:40%;
	height:50%;
	text-align:center;
	font-size:20px;
	color:white;
}

#earn span{
	text-align:ceter;
}

#c2 input{ 
border-color:purple;
}

#lek{
	background-color:purple;
	width:30%;
	font-size:15px;
	color:white;
	border-radius:2px;
}


